@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:700);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  font-family: 'Lato', sans-serif;
}

$white: #FFFFFF;
$gray: #AEAEAE;
$red: #E64C66;
$blue: #2D3E50;
$green: #1BBC9B;

body {
  background-color: $white;
  padding-bottom: 100px;
}

a {
  color: $red;
  text-decoration: none;
  transition: all 0.3s;

  &:hover {
    color: darken($red, 10);
  }
}

.wrap, .content {
  max-width: 32em;
  width: 100%;
  margin: 0 auto;
}

.tracks {
  margin: 10px 0;
}

.track {
  cursor: pointer;
  padding: 10px;
  border: 1px solid transparent;

  transition: all 0.3s;

  &:hover {
    background-color: darken($white, 5);

    .play {
      opacity: 1;
    }
  }

  .info {
    vertical-align: top;
    display: inline-block;
    padding: 0 10px;
    width: calc(90% - 100px);

    div {
      line-height: 24px;
      font-size: 16px;
      margin: 5px 0;
    }
  }

  img {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 5px;
  }

  .play {
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    opacity: 0;

    transition: all 0.3s;
  }

}

input {
  padding: 15px;
  margin: 15px 0;
  width: 100%;
  display: block;
  border-radius: 5px;
  border: 1px solid $gray;
  box-shadow: none;
  font-size: 24px;
  font-family: 'Oswald', sans-serif;
}

.nowPlaying {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 80px;
  width: 100vw;
  background-color: #fff;
  padding-top: 10px;

  img {
    width: 60px;
    height: 60px;
    margin: 5px;
    vertical-align: middle;
    border-radius: 5px;
  }

  div {
    display: inline-block;
    vertical-align: middle;
  }

  p {
    line-height: 30px;
  }

  .topBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 10px;
    background-color: darken($blue, 10);

    .progress {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 10px;
      background-color: $green;
    }
  }

  .play {
    position: absolute;
    right: 25px;
    top: calc(50% + 5px);
    transform: translateY(-50%);
  }

  .ext-link {
    position: absolute;
    right: 65px;
    top: calc(50% + 5px);
    transform: translateY(-50%); 
  }
}


.play {
  cursor: pointer;
  
  &:before, &:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    
    transition: all 0.5s;
  }
  
  &:before {
    height: 20px;
    
    border: 10px solid $green;
    border-right: none;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;

  }
  
  &:after {
    margin: 5px 0;
    height: 0px;
    
    border: 15px solid $green;
    border-right: none;
    
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    
  }

  &:hover {
    &:before {
      border-left-color: darken($green, 10);
    }

    &:after {
      border-left-color: darken($green, 10);
    }
  }

  &.active {
    &:before {
      border-top-width: 0px;
      border-bottom-width: 0px;
      height: 30px;
    }
    
    &:after {
      height: 30px;
      border-top-width: 0px;
      border-bottom-width: 0px;
      border-left-width: 10px;
      margin-left: 5px;
    }
  }
}

.show {
  img {
    width: 100%;
  }

  .playButton {
    width: 100%;
    padding: 15px;
    color: #fff;
    background-color: $green;
    border: none;
  }
}

.bars {
    height: 30px;
    left: 50%;
    position: fixed;
    top: 25%;
    width: 40px;
    transform: translate(-50%, -50%);
}
span {
  color: $blue;
  font-size: 12px;
  position: absolute;
  width: 100%;
  bottom: -17px; 
  text-align: center;
  font: normal 12px/1em "Merriweather Sans", sans-serif;
  letter-spacing: 2px;
}

.bar {
  background: $green;
  bottom: 1px;
  height: 3px;
  position: absolute;
  width: 5px;      
  animation: sound 0ms -800ms ease-in-out infinite alternate, colors 0ms -800ms linear infinite alternate;
}
@keyframes colors {
  0% {
    color: $green;
  }
  100% {
    color: $blue;
  }
}
@keyframes sound {
    0% {
        height: 3px; 
    }
    100% {
        height: 28px;        
    }
}

@for $i from 0 through 9 {
  .bar:nth-child(#{$i + 1})  { 
    left: #{$i * 6 + 5}px; 
    animation-duration: #{400 + random(100)}ms; 

  }
}

.out {
  border-radius: 2px;
  border: 5px solid $gray;
  height: 30px;
  width: 30px;
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  
  transition: all 0.3s;
  
  &:before {
    content: '';
    display: block;
    width: 5px;
    height: 15px;
    transform: rotate(45deg);
    background-color: $gray;

    position: absolute;
    bottom: -4px;
    left: 0;
    
    transition: all 0.3s;
  }
  
  &:after {
    content: '';
    display: block;
    
    transform: rotate(45deg);

    position: absolute;
    bottom: 6px;
    left: 5px;
    
    border: 7px solid transparent;
    border-bottom-color: $gray;
    
    transition: all 0.3s;
    
  }
  
  &:hover {
    border-color: $green;
    
    
    &:before {
      background-color: $green;
    }
    &:after {
      border-bottom-color: $green;
    }
  }
  
}