@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:700);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  font-family: 'Lato', sans-serif; }

body {
  background-color: #FFFFFF;
  padding-bottom: 100px; }

a {
  color: #E64C66;
  text-decoration: none;
  -webkit-transition: all 0.3s;
          transition: all 0.3s; }
  a:hover {
    color: #e01f40; }

.wrap, .content {
  max-width: 32em;
  width: 100%;
  margin: 0 auto; }

.tracks {
  margin: 10px 0; }

.track {
  cursor: pointer;
  padding: 10px;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s;
          transition: all 0.3s; }
  .track:hover {
    background-color: #f2f2f2; }
    .track:hover .play {
      opacity: 1; }
  .track .info {
    vertical-align: top;
    display: inline-block;
    padding: 0 10px;
    width: calc(90% - 100px); }
    .track .info div {
      line-height: 24px;
      font-size: 16px;
      margin: 5px 0; }
  .track img {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 5px; }
  .track .play {
    position: absolute;
    top: 50%;
    right: 25px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 0;
    -webkit-transition: all 0.3s;
            transition: all 0.3s; }

input {
  padding: 15px;
  margin: 15px 0;
  width: 100%;
  display: block;
  border-radius: 5px;
  border: 1px solid #AEAEAE;
  box-shadow: none;
  font-size: 24px;
  font-family: 'Oswald', sans-serif; }

.nowPlaying {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 80px;
  width: 100vw;
  background-color: #fff;
  padding-top: 10px; }
  .nowPlaying img {
    width: 60px;
    height: 60px;
    margin: 5px;
    vertical-align: middle;
    border-radius: 5px; }
  .nowPlaying div {
    display: inline-block;
    vertical-align: middle; }
  .nowPlaying p {
    line-height: 30px; }
  .nowPlaying .topBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 10px;
    background-color: #1b252f; }
    .nowPlaying .topBar .progress {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 10px;
      background-color: #1BBC9B; }
  .nowPlaying .play {
    position: absolute;
    right: 25px;
    top: calc(50% + 5px);
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
  .nowPlaying .ext-link {
    position: absolute;
    right: 65px;
    top: calc(50% + 5px);
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }

.play {
  cursor: pointer; }
  .play:before, .play:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    -webkit-transition: all 0.5s;
            transition: all 0.5s; }
  .play:before {
    height: 20px;
    border: 10px solid #1BBC9B;
    border-right: none;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent; }
  .play:after {
    margin: 5px 0;
    height: 0px;
    border: 15px solid #1BBC9B;
    border-right: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; }
  .play:hover:before {
    border-left-color: #158f76; }
  .play:hover:after {
    border-left-color: #158f76; }
  .play.active:before {
    border-top-width: 0px;
    border-bottom-width: 0px;
    height: 30px; }
  .play.active:after {
    height: 30px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 10px;
    margin-left: 5px; }

.show img {
  width: 100%; }
.show .playButton {
  width: 100%;
  padding: 15px;
  color: #fff;
  background-color: #1BBC9B;
  border: none; }

.bars {
  height: 30px;
  left: 50%;
  position: fixed;
  top: 25%;
  width: 40px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

span {
  color: #2D3E50;
  font-size: 12px;
  position: absolute;
  width: 100%;
  bottom: -17px;
  text-align: center;
  font: normal 12px/1em "Merriweather Sans", sans-serif;
  letter-spacing: 2px; }

.bar {
  background: #1BBC9B;
  bottom: 1px;
  height: 3px;
  position: absolute;
  width: 5px;
  -webkit-animation: sound 0ms -800ms ease-in-out infinite alternate, colors 0ms -800ms linear infinite alternate;
          animation: sound 0ms -800ms ease-in-out infinite alternate, colors 0ms -800ms linear infinite alternate; }

@-webkit-keyframes colors {
  0% {
    color: #1BBC9B; }
  100% {
    color: #2D3E50; } }

@keyframes colors {
  0% {
    color: #1BBC9B; }
  100% {
    color: #2D3E50; } }
@-webkit-keyframes sound {
  0% {
    height: 3px; }
  100% {
    height: 28px; } }
@keyframes sound {
  0% {
    height: 3px; }
  100% {
    height: 28px; } }
.bar:nth-child(1) {
  left: 5px;
  -webkit-animation-duration: 423ms;
          animation-duration: 423ms; }

.bar:nth-child(2) {
  left: 11px;
  -webkit-animation-duration: 459ms;
          animation-duration: 459ms; }

.bar:nth-child(3) {
  left: 17px;
  -webkit-animation-duration: 421ms;
          animation-duration: 421ms; }

.bar:nth-child(4) {
  left: 23px;
  -webkit-animation-duration: 432ms;
          animation-duration: 432ms; }

.bar:nth-child(5) {
  left: 29px;
  -webkit-animation-duration: 464ms;
          animation-duration: 464ms; }

.bar:nth-child(6) {
  left: 35px;
  -webkit-animation-duration: 443ms;
          animation-duration: 443ms; }

.bar:nth-child(7) {
  left: 41px;
  -webkit-animation-duration: 424ms;
          animation-duration: 424ms; }

.bar:nth-child(8) {
  left: 47px;
  -webkit-animation-duration: 485ms;
          animation-duration: 485ms; }

.bar:nth-child(9) {
  left: 53px;
  -webkit-animation-duration: 481ms;
          animation-duration: 481ms; }

.bar:nth-child(10) {
  left: 59px;
  -webkit-animation-duration: 465ms;
          animation-duration: 465ms; }

.out {
  border-radius: 2px;
  border: 5px solid #AEAEAE;
  height: 30px;
  width: 30px;
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  -webkit-transition: all 0.3s;
          transition: all 0.3s; }
  .out:before {
    content: '';
    display: block;
    width: 5px;
    height: 15px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    background-color: #AEAEAE;
    position: absolute;
    bottom: -4px;
    left: 0;
    -webkit-transition: all 0.3s;
            transition: all 0.3s; }
  .out:after {
    content: '';
    display: block;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    position: absolute;
    bottom: 6px;
    left: 5px;
    border: 7px solid transparent;
    border-bottom-color: #AEAEAE;
    -webkit-transition: all 0.3s;
            transition: all 0.3s; }
  .out:hover {
    border-color: #1BBC9B; }
    .out:hover:before {
      background-color: #1BBC9B; }
    .out:hover:after {
      border-bottom-color: #1BBC9B; }

/*# sourceMappingURL=the.css.map */